blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul,
figure
  margin: 0
  padding: 0
  
.d-i-block
  display: inline-block

.d-block
  display: block

.f-left
  float: left

.f-right
  float: left

.w-100
  width: 100%

.p-rel
  position: relative

.p-abs
  position: absolute

.c-pointer
  cursor: pointer

.c-default
  cursor: default

.t-center
  text-align: center

.m-auto
  margin: auto

.m-20
  margin: 20px
