@import 'font-awesome.css'

blockquote
button,
dd,
dl,
dt,
fieldset,
form
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
// pre,
td,
textarea,
th,
ul,
body,
figure
  margin: 0
  padding: 0,

a
  color: #555
  text-decoration: none

.clear
  &:after,&:before
    content: ""
    display: block
    height: 0
    clear: both

// p
//   margin: 0
//   padding: 0
.pad-20
  padding: 20px

.d-i-block
  display: inline-block

.d-block
  display: block

.bg-white
  background-color: #fff

.bg-black
  background-color: #000

.bg-blue
  background-color: #23ade6

.color-white
  color: white

.color-black
  color: black

.color-blue
  color: #23ade6 !important

.f-left
  float: left

.f-right
  float: left

.w-100
  width: 100%

.p-rel
  position: relative

.p-abs
  position: absolute

.c-pointer
  cursor: pointer

.c-default
  cursor: default

.t-center
  text-align: center

.m-auto
  margin: auto
